@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #fff;
    font-family: 'Open Sans', sans-serif, 'Arial';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Arvo', sans-serif;
}

header{
    width: 100%;
    padding: 20px 30px;
    position: fixed;
    z-index: 101;
    background: #fff;
}

header nav{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    width: 150px;
    cursor: pointer;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 15px;
    position: relative;
    font-size: 0.9em;
}

header nav ul li a{
    color: #333;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
}

header nav ul li a:hover{
    color: rgb(238, 65, 12);
}

/* Section 1 */

.sec1{
    padding: 8.50rem 0;
    width: 100%;
    background-image: url('./img/hero-area.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.sec1 .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    overflow: hidden;
    padding: 0 10px;
}

.sec1 .container .left{
    width: 650px;
}

.sec1 .container .left h2{
    font-size: 2.9em;
    line-height: 60px;
    font-weight: 900;
}

.sec1 .container .left p{
    margin: 1rem 0 1.5rem 0;
    color: grey;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 25px;
}

.button{
    padding: 0.7rem 2rem;
    height: 45px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.button.red{
    background: rgb(238, 65, 12);
    color: white;
    transition: 0.3s;
}

.button.normal{
    margin-left: 1rem;
    background: white;
    border: 2px solid rgb(238, 65, 12);
    color: rgb(238, 65, 12);
    transition: all 0.3s ease-in-out;
}

 .normal:hover{
    background: rgb(238, 65, 12);
    color: white;
}

.sec1 .container .right img{
    width: 450px;
}


@media screen and (max-width: 1000px){
    .sec1 .container{
        flex-direction: column;
    }

    .sec1 .container .left{
        text-align: center;
    }

    .sec1 .container .right{
        margin-top: 2.5em;
    }
}


@media screen and (max-width: 700px){
    header nav ul{
        display: none;
    }
}

@media screen and (max-width: 620px){
    .sec1 .container .left{
        width: 100%;
    }
}

@media screen and (max-width: 490px){
    .sec1 .container .right{
        text-align: center;
    }

    .sec1 .container .left h2{
        font-size: 2.4em;
    }

    .sec1 .container .right img{
        width: 100%;
    }

    .sec1 .container .left .btn{
        display: flex;
        flex-direction: column;
    }

    .sec1 .container .left .btn .button.normal{
        margin: 20px 0 0 0;

    }
}

/* Section 2 */

.sec2{
    padding: 4.25rem 0;
    width: 100%;
}

.sec2 .container{
    max-width: 1100px;
    margin: 0 auto;
}

.title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title h2{
    font-size: 2em;
    font-weight: bold;
}

.title .ligne{
    width: 70px;
    height: 2px;
    background: rgb(238, 65, 12);
    margin-top: 0.7rem;
}

.sec2 .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.sec2 .container .content .card{
    margin: 10px;
    padding: 1.5rem 0.7rem;
    background: white;
    width: 340px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.sec2 .container .content .card .rond{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    position: relative;
    border: 1px solid rgb(224, 224, 224);
    transition: 0.3s;
}

.sec2 .container .content .card:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.sec2 .container .content .card:hover .rond{
    background: rgb(238, 65, 12);
}

.sec2 .container .content .card:hover .rond i{
    color: white;
}

.sec2 .container .content .card .rond i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.9em;
    color: rgb(238, 65, 12);
    transition: 0.4s;
}

.sec2 .container .content .card h2{
    font-size: 1.1em;
    margin: 1.5rem 0 1rem 0;
    color: #333;
    cursor: pointer;
    transition: 0.2s;
}

.sec2 .container .content .card h2:hover{
    color: rgb(238, 65, 12);
}

.sec2 .container .content .card p{
    color: grey;
    line-height: 25px;
    font-size: 0.9em;
    font-weight: 500;
}


@media screen and (max-width: 1080px){
    .sec2 .container .content{
        justify-content: center;
    }
}


/* Section 3 */

.sec3{
    width: 100%;
    padding: 3.25rem 0;
    background: #f9f9f9;
}

.sec3 .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec3 .container .left{
    width: 570px;
    padding: 0 5px;
}

.sec3 .container .right{
    padding: 0 10px;
}

.sec3 .container .right img{
    width: 550px;
}

.sec3 .container .left h4{
    color: grey;
    font-size: 0.9em;
}

.sec3 .container .left h2{
    font-size: 2em;
    font-weight: bold;
    margin: 1.5rem 0;
}

.sec3 .container .left p{
    margin-bottom: 2rem;
    color: grey;
    font-weight: 600;
    line-height: 26px;
    font-size: 0.9em;
}


@media screen and (max-width: 1000px){
    .sec3 .container .right img{
        width: 450px;
    }
}

@media screen and (max-width: 850px){
    .sec3 .container .right img{
        width: 350px;
    }
}


@media screen and (max-width: 700px){
    .sec3 .container{
        flex-direction: column;
    }

    .sec3 .container .left{
       width: 100%; 
       padding: 0 20px;
       margin-bottom: 3em;
    }
}

@media screen and (max-width: 350px){
    .sec3 .container .right img{
        width: 100%;
    }
}


/* Section 4 */

.sec4{
    width: 100%;
    padding: 4.25rem 0;
    background: rgb(255, 255, 255);
}

.sec4 .title{
    margin-bottom: 3em;
}

.sec4 .container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec4 .container .left,
.sec4 .container .mid,
.sec4 .container .right{
    max-width: 33,33%;
    padding: 0 10px;
}

.sec4 .container .left .block{
    margin-bottom: 1.5rem;
    display: flex;
    text-align: right;
}

.sec4 .container .left .block .droite{
    margin-left: 1rem;
}

.sec4 .container .mid img{
    width: 350px;
}

.sec4 .container .right .block{
    margin-bottom: 1.5rem;
    display: flex;
    text-align: left;
}

.sec4 .container .right .block .droite{
    margin-left: 1rem;
}

.sec4 .container .block i{
    font-size: 1.6em;
    color: rgb(238, 65, 12);
}

.sec4 .container .block{
    padding: 20px 33px;
    width: 100%;
    background: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 3px;
}

.sec4 .container .block:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.sec4 .container .block:hover h3{
    color: rgb(238, 65, 12);
}

.sec4 .container .block h3{
    margin-bottom: 0.9rem;
    transition: 0.3s;
    cursor: pointer;
}

.sec4 .container .block p{
    color: grey;
    font-weight: 600;
    opacity: .6;
}


@media screen and (max-width: 950px){
    .sec4 .container{
        flex-direction: column;
    }

    .sec4 .container .block{
        padding: 40px;
    }

    .sec4 .container .mid{
        margin: 1.5em 0;
    }
}


@media screen and (max-width: 450px){
    .sec4 .container .mid img{
        width: 100%;
    }
}


/* Section 5 */